<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahul.newdp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sslogo"
        android:label="GPA calculator"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="SS GPA Calculator">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"

            android:label="SS GPA Calculator">
        </activity>
        <activity android:name=".Main3Activity"
            android:label="Gpa calc">

        </activity>
    </application>

</manifest>
